@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #CDEAE1;
  --secondary: #FF8682;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #cdeae1;
    --secondary: #FF8682;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
